*{
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer{
    background: #e6cbfa;
    display: flex;
    text-align: center;
    align-items: center;
    flex: 1;
}

main{
    display: flex;
    flex: 9;
    overflow: scroll;
}

div{
    margin: 5px;
}

footer div{
    flex: 1;
}

#form-here{
    flex: 1;
    text-align: center;
    padding: 5px;
}

#table-here{
    flex: 3;
<<<<<<< HEAD
    overflow: scroll;
=======
    overflow-y: scroll;
>>>>>>> b11135a2e3e2706dfb7c2aa52df5e1bb6445ba61
}

table{
    width: 100%;
    height: 100%;
}

td{
    text-align: center;
}

button{
    margin-top: 5px;
}

fieldset{
    margin-left: 10px;
}

input:invalid{
    background-color: #f59089;
}

h1{
    flex: 1;
}
